.paypalButton, .flutterwaveButton, .epaycoButton {
  font-size: 1.1rem;
  font-weight: 600;
}


.epaycoButton {
  background-color: #f89500;
  border: none;
  color: white;
}

.paypalButton:hover, .flutterwaveButton:hover, .epaycoButton:hover {
  opacity: 0.9;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}